﻿body {
    margin: 0;
    background-color: #fdfbf4;
}


.container-body {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

p, a, h1, h2, h3{
    padding-left: 10px;
}

.nav {
    margin: 0;
    overflow: hidden;
    position: relative;   
    padding:0;
}
.nav li{
    list-style: none;
    display: inline;   
}

    .nav a {
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        color: #524937;
        text-decoration: none;
    }

.nav a:active {
    color: white;
}

#fastbuild{
    font-size:50px;
    float:left;
    padding-right:20px;
}

.top-end {
    background-color: #d5d0c8;
}

footer {
    text-align: center;
}

.colour {
    width: 1200px;
    background-color: #cec1b2;
    margin: auto;
}