﻿.display {
    overflow: auto;
    white-space: nowrap;
    background-color: #918479;
    border-bottom: 5px #64585a solid;
    border-top: 5px #64585a solid;
}


    .display img {
        display: inline-block;
        height: 80px;
        width: 394px;
        margin: 3px;
        border: 2px black solid;
    }

        .display img:hover {
            border: 2px #fdfbf4 solid;
        }


#indoors {
    height: 110px;
    width: 1200px;
    overflow: scroll;
    margin:0;
}

#outdoors {
    height: 110px;
    width: 1200px;
    overflow: scroll;
    margin: 0;
}


#display {
    padding: 15px;
    height: 400px;
    width: 1200px;
    overflow:hidden;
}
    #display img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

.info{
    padding-bottom:10px;
}

#info a {
    color:black;
    text-decoration: none;
    border: 3px #524937 solid;
    padding: 3px;
    margin-left: 10px;
    background-color: #debf8d;
}

    #info a:hover {
        border: 3px #fdfbf4 solid;
    }

    #info a:active {
        background-color: #64585a;
    }

#info{
    margin-bottom: 5px;
}

.pic{
    width:600px;
    float:left;
    margin:0;
}

.pic img{
    width:560px;
    padding:20px;
}

.desc {
    width: 590px;
    float: left;
    padding: 4px;
}

    .desc h1 {
        padding-top: 10px;
    }

#kons {
    float: right;
    text-decoration: none;
    font-size: 30px;
    margin: 10px;
    margin-right: 60px;
    padding: 5px;
    border: 3px #524937 solid;
    color: black;
    background-color: #debf8d;
}

    #kons:hover {
        border: 3px #fdfbf4 solid;
    }

    #kons:active {
        background-color: #64585a;
    }