﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="top-end">
        <div class="nav">
            <div class="container-body">
                @Html.ActionLink("FastBuild", "Index", "Home", new { id = "fastbuild" })
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
      <div class="colour">
        <div class="container-body">
            @RenderBody()
            </div>
          
            <div class="container-body">              
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year FastBuild</p>
                    </footer>
                </div>
            </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
