﻿@model FastBuild.Models.indoors

@{
    ViewBag.Title = "Indoors";
}

@{ foreach (var a in this.Model.Members)
    {
        if (a.id == ViewBag.id)
        {
            var g = (a.id + 1) + "i.png";
            <div class="pic">
                <img src="/picture/@g">
            </div>
            <div class="desc">

                <h1>@a.name</h1>
                <p>@a.desc</p>
                @if (a.desc2 != null)
                {
                    <p>@a.desc</p>
                }
                @if (a.set[0] != "")
                {
                    <ul>
                        @foreach (var b in a.set)
                        {
                            <li>@b</li>
                        }
                    </ul>
                }
            </div>
            <a id = "kons" href="http://localhost:52788/home/contact" >Zamów konsultacje o projekcie</a>
        }
    }}
