﻿@{
    ViewBag.Title = "About";
}
<h1>Kim jesteśmy?</h1>
<h2> Firma swoją działalność rozpoczęła w 1991 roku</h2>

<p>
    My jesteśmy firmą FastBuild. Oferujemy pełen zakres usług budowlanych. Posiadamy wieloletnie doświadczenie oraz niezbędny
    sprzęt do realizacji wszelkich prac budowlanych. Nasz zakres działania obejmuje m. In. generalne
    wykonawstwo , remonty i modernizacje obiektów usługowych, handlowych, przemysłowych,
    medycznych i mieszkalnych.

    Wykonujemy również instalacje wodno-kanalizacyjne oraz centralnego ogrzewania.
</p>
