﻿@{
    ViewBag.Title = "Contact";
}
<h2>Kontakty</h2>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Zapisać się na konsultacje:</strong>   <a href="mailto:Konsult@fastbuild.com">Konsult@fastbuild.com</a><br />
    <strong>Support:</strong>   <a href="mailto:Support@fastbuild.com">Support@fastbuild.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@fastbuild.com">Marketing@fastbuild.com</a>
</address>