﻿@{
    ViewBag.Title = "Home Page";
}

<div id="display">
    <img src="../picture/1i.png">
    </div>
<div class="display">
        <a id="i1"> <img src="../prev/1i.png"> </a>
        <a id="i2"> <img src="../prev/2i.png">  </a>
        <a id="i3"> <img src="../prev/3i.png">  </a>
        <a id="i4"> <img src="../prev/4i.png">  </a>
        <a id="i5"> <img src="../prev/5i.png">  </a>
</div>
<div class="display">
    <a id="s1"> <img src="../prev/1s.png"> </a>
    <a id="s2"> <img src="../prev/2s.png">  </a>
    <a id="s3"> <img src="../prev/3s.png">  </a>
    <a id="s4"> <img src="../prev/4s.png">  </a>
    <a id="s5"> <img src="../prev/5s.png">  </a>
</div>
<div id="info">
    <h1>Bjorn</h1>
    <p> Klasyczna kuchnia w odcieniu satynowej bieli dobrze współgra z dodatkami o dowolnej kolorystce. Lakierowane, frezowane fronty nadają szafkom wyjątkowego wyglądu. Wzbogacona w system cichego domyku.</p>
    <a target="_blank" href="http://localhost:52788/project/indoors/0">Learn more</a>
</div>

